<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Integrated Shield Plan Master</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/common.css" th:href="@{/css/index_first.css}" />
</head>

<body>
<div id="outside">
    <div style="margin-top:20%;margin-left:20%;">
        <div style="margin-top:30px;font-size:30px;">
        <p>Welcome to Integrated Shield Plan Master!</p>
        </div>
        <div style="margin-top:30px;font-size:30px;">
        <p>Please click start button to start.</p>
        </div>
        <div style="margin-top:30px;font-size:30px;">
        <a href="/start">Start Survey</a>
        </div>
    </div>
</div>
</body>
</html>
