<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Integrated Shield Plan Master</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/common.css}" />
</head>
<body>
<form action="#" th:action="@{/questions}" method="get">
    <div>
        <div class="form-group form_header">
            <h2 th:utext="${name}"></h2>
        </div>
        <div class="form-group col-sm-6 stars" style="margin-left:25%">
            <span class="fa fa-star preference checked"></span>
            <span class="fa fa-star preference checked"></span>
            <span class="fa fa-star preference checked"></span>
            <span class="fa fa-star preference"></span>
            <span class="fa fa-star preference"></span>
        </div>
        <th:block th:each="choice, index : ${choices}">
            <div class="form-group col-sm-6 question_choice">
                <div class="alert alert-info" th:value="${index.count}"><strong th:text="${choice}"></strong></div>
            </div>
        </th:block>
        <input type="hidden" id="qid" name="qid" th:value="${qid}">
        <input type="hidden" id="answer" name="answer" value="0">
        <input type="hidden" id="preference" name="preference" value="3">
        <button type="submit" class="btn btn-lg btn-info next_btn">Next</button>
    </div>
</form>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(document).ready(function(){
  var qid = $("#qid").val();
  if(qid == "1"){
      $(".stars").hide();
  }
  $(".alert").click(function(){
      $(".alert-danger").addClass("alert-info");
      $(".alert-danger").removeClass("alert-danger");
      var choice = $(this).attr("value");
      $(this).removeClass("alert-info");
      $(this).addClass("alert-danger");
      $("#answer").val(choice);
  });
  $(".preference").click(function(){
      var index = $(this).index();
      var parent = $(this).parent();
      $("span.checked").each(function(){
          $(this).removeClass("checked");
      });
      for(var i =0;i<= index;i++){
          parent.find("span:eq("+i+")").addClass("checked");
      }
      $("#preference").val(index+1);
  });
});
</script>
</body>
</html>