<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Integrated Shield Plan Master</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/common.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"
      href="/static/css/common.css" th:href="@{/css/common.css}" />
</head>
<body>
<form action="#" th:action="@{/question2}" th:object="${applicationDto}" method="post">
    <div>
        <div class="form-group form_header">
            <h1>I want to protect...</h1>
        </div>
        <div class="form-group col-sm-6 question_choice">
            <div class="alert alert-info" value="1"><strong>Myself</strong></div>
        </div>
        <div class="form-group col-sm-6 question_choice">
            <div class="alert alert-info" value="2"><strong>My Spouse</strong></div>
        </div>
        <div class="form-group col-sm-6 question_choice">
            <div class="alert alert-info" value="3"><strong>My Child</strong></div>
        </div>
        <div class="form-group col-sm-6 question_choice">
            <div class="alert alert-info" value="4"><strong>My Parent</strong></div>
        </div>
        <input type="hidden" id="q1ans" name="q1ans" value="0">
        <button type="submit" class="btn btn-lg btn-info next_btn">Next</button>
    </div>
</form>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(document).ready(function(){
  $(".alert").click(function(){
     $(".alert-danger").addClass("alert-info");
     $(".alert-danger").removeClass("alert-danger");
     var choice = $(this).attr("value");
     $(this).removeClass("alert-info");
     $(this).addClass("alert-danger");
     $("#q1ans").val(choice);
  });
});
</script>
</body>
</html>